<!doctype html>
<html lang="{S_USER_LANG}">
    <head>
        <meta charset="{S_CONTENT_ENCODING}">
        <title>{SITENAME} &bull; <!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{PAGE_TITLE}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="{SITE_DESCRIPTION}">
        <link rel="stylesheet" href="{T_STYLESHEET_LINK}">
        <script src="{T_SUPER_TEMPLATE_PATH}/scripts/lib/modernizr.js"></script>
        <script src="{T_SUPER_TEMPLATE_PATH}/scripts/lib/require.js"></script>
        <script>
            require.config({
                baseUrl: '{T_SUPER_TEMPLATE_PATH}/scripts/',
                paths: {
                    jquery: 'lib/jquery'
                }
            });
        </script>
    </head>
    <body class="{SCRIPT_NAME}">

        <div id="simple-wrap">

            <div id="page-body">
